{% extends '/layouts/guest_base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="container page-content">
        <div class="row">
            <div class="col-md-12 col-lg-4 mx-lg-auto">

                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                <h2 class="text-lg-center mb-lg-5">Créer votre compte !</h2>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}

                {{ form_row(registrationForm.name) }}
                {{ form_row(registrationForm.surname) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.password) }}

                {{ form_label(registrationForm.profession) }}
                <div class="d-flex justify-content-around">
                    {{ form_widget(registrationForm.profession) }}
                </div>

                {{ form_row(registrationForm.agreeTerms) }}
                {{ form_row(registrationForm.save) }}

            </div>
        </div>
    </div>

{% endblock %}
