{% extends '/base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Créez votre compte !</h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}

            {{ form_start(registrationForm, {'attr': {'class': 'space-y-6'}}) }}

            <div>
                {{ form_label(registrationForm.name, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-900'}}) }}
                <div class="mt-2">
                    {{ form_widget(registrationForm.name, {'attr': {'class': 'block w-full rounded-md border-gray-300 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-indigo-600 sm:text-sm'}}) }}
                </div>
                {{ form_errors(registrationForm.name) }}
            </div>

            <div>
                {{ form_label(registrationForm.surname, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-900'}}) }}
                <div class="mt-2">
                    {{ form_widget(registrationForm.surname, {'attr': {'class': 'block w-full rounded-md border-gray-300 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-indigo-600 sm:text-sm'}}) }}
                </div>
                {{ form_errors(registrationForm.surname) }}
            </div>

            <div>
                {{ form_label(registrationForm.email, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-900'}}) }}
                <div class="mt-2">
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'block w-full rounded-md border-gray-300 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-indigo-600 sm:text-sm'}}) }}
                </div>
                {{ form_errors(registrationForm.email) }}
            </div>

            <div>
                {{ form_label(registrationForm.password, null, {'label_attr': {'class': 'block text-sm font-medium text-gray-900'}}) }}
                <div class="mt-2">
                    {{ form_widget(registrationForm.password, {'attr': {'class': 'block w-full rounded-md border-gray-300 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset focus:ring-2 focus:ring-indigo-600 sm:text-sm'}}) }}
                </div>
                {{ form_errors(registrationForm.password) }}
            </div>

            <div class="mt-4">
                {{ form_label(registrationForm.profession, 'Profession', {'label_attr': {'class': 'block text-sm font-medium text-gray-900'}}) }}
                <div class="mt-2 space-y-4">
                    {{ form_widget(registrationForm.profession, {'expanded': true, 'attr': {'class': 'form-radio'}}) }}
                </div>
                {{ form_errors(registrationForm.profession) }}
            </div>

            <div class="mt-6">
                {{ form_row(registrationForm.agreeTerms, {'attr': {'class': 'flex items-center'}}) }}
            </div>

            <div>
                {{ form_widget(registrationForm.save, {'attr': {'class': 'w-full flex justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus:outline focus:ring-2 focus:ring-indigo-600'}}) }}
            </div>

            {{ form_end(registrationForm) }}

            <div class="text-center mt-4">
                <p>Vous avez déjà un compte ? <a href="{{ path('app_login') }}" class="text-indigo-600 hover:text-indigo-500 font-semibold">Connectez-vous</a></p>
            </div>
        </div>
    </div>
{% endblock %}
