{% extends '/layouts/guest_base.html.twig' %}

{% block title %}Double Authentification{% endblock %}



{% block body %}
    <div class="container page-content">
        <div class="row">
            <div class="col-md-12 col-lg-4 mx-lg-auto">

                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                <h2 class="text-lg-center mb-lg-4">Authentification en Deux Étapes</h2>

                <p class="text-lg-center mb-lg-4">Un code d'authentification a été envoyé à votre adresse e-mail.</p>

                    <div style="text-align: center;">
                        {% if authenticationError %}
                            <div class="alert alert-danger">{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</div>
                        {% endif %}
                    </div>

                    <form class="form" action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post">
                        <div class="form-group col-md-12">
                            <input
                                    id="_auth_code"
                                    type="text"
                                    name="{{ authCodeParameterName }}"
                                    autocomplete="one-time-code"
                                    class="form-control form-control-lg register-form"
                                    autofocus
                                    inputmode="numeric"
                                    pattern="[0-9]*"
                            />
                        </div>

                        <br>
                        {% if displayTrustedOption %}
                            <div class="form-group">
                                <label for="_trusted"><input id="_trusted" type="checkbox" name="{{ trustedParameterName }}" /> {{ "trusted"|trans({}, 'SchebTwoFactorBundle') }}</label>
                            </div>
                        {% endif %}

                        {% if isCsrfProtectionEnabled %}
                            <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
                        {% endif %}

                        <div class="form-group mt-4 mb-0 col-md-12">
                            <button class="btn btn-block form-control-lg" type="submit" style="background-color: #111B47; color: white;">
                                {{ "login"|trans({}, 'SchebTwoFactorBundle') }}
                            </button>
                        </div>

                        <div class="form-group">
                            <a class="btn btn-link" href="{{ logoutPath }}">{{ "cancel"|trans({}, 'SchebTwoFactorBundle') }}</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}